In [49]:
import pandas as pd
f=pd.read_csv('titanic_data.csv')
f.shape

(891, 12)

In [50]:
f.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
f.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [52]:
f = f[['Pclass','Fare','Survived']]
f=f.dropna()
f.shape

(891, 3)

In [80]:
X = f[['Pclass','Fare']]
X.head()

   Pclass     Fare
0       3   7.2500
1       1  71.2833
2       3   7.9250
3       1  53.1000
4       3   8.0500

In [81]:
y = f['Survived']
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [95]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [96]:
print(X_train.shape)
print(X_test.shape)

(623, 2)
(268, 2)

In [97]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial')
lr

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=1, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [98]:
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=1, penalty='l2', random_state=0, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [99]:
y_pred = lr.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6940298507462687

In [100]:
print(X_test.head(1))
print(y_test.head(1))

     Pclass     Fare
709       3  15.2458
709    1
Name: Survived, dtype: int64

In [121]:
ans = lr.predict_proba([[3,0]])
ans[:]

array([[0.63919479, 0.36080521]])

In [120]:
ans = lr.predict_proba([[2,32.204208]])
ans[:]

array([[0.54274426, 0.45725574]])

In [118]:
ans = lr.predict_proba([[1,75]])
ans[:]

array([[0.43592669, 0.56407331]])

In [119]:
ans = lr.predict_proba([[1,300]])
ans[:]

array([[0.29610752, 0.70389248]])